nav ul{
	list-style-type: none;	
	text-align: center;
}

nav ul li { 
	display: inline; 
	padding-right: 18px;
}
.partial-view .home-content{
	
	text-align: center;
	margin:0 auto;
}

.partial-view .setup-content{
	width: 40%;
}

.partial-view .games-content{
	width:70%;
}

.partial-view .games-content .games-content-queue .panel-success{
	margin-top: 15px;
}

.partial-view .games-content .games-content-queue .games-content-finish{
	text-align: center;
}

.home-image{
	margin: 40px;
}

footer{
	text-align: center;
	margin: 20px;
}
