nav {
	width: 100%; margin: 20px; 
}

nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

nav ul li { 
	display: inline; 
}


.partial-view .home-content{
	background-image:url("../img/main-home-img.jpg"); 
	background-repeat: no-repeat;
	width:900px; 
	height:600px;
	text-align: center;
	vertical-align: center;
	display: block;
	margin:0 auto;
}

.partial-view .home-content h3{
	vertical-align: middle;
}

.partial-view .setup-content{
	width: 40%;
}

.partial-view .games-content{
	width:70%;
}

.partial-view .games-content .games-content-queue .panel-success{
	margin-top: 15px;
}

.partial-view .games-content .games-content-queue .games-content-finish{
	text-align: center;
}
