<!DOCTYPE html>
<html lang="en" ng-app="pickupApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Pickup</title>
		<meta name="description" content="Polo pickup app">
		<meta name="author" content="Michelle Willcox">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
		<script src='https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js'></script>
	</head>

	<body ng-controller="PickupCtrl">
		<div>
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">PICKUP</a>
			    </div>
			    <div>
			      <ul class="nav navbar-nav">
			        <li><a href="#">Setup</a></li>
			        <li class="active"><a href="#">Games</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>

			<div class="container-fluid">
  				<div class="row">
  					<div class="col-md-4">
  						<h4>Add Player</h4>
  						<form>
  							<input ng-model="name" type="text" id="playerName" placeholder="Name"/><br/>
  							<input type="submit" value="Submit" ng-click="submitPlayer()">
  						</form>
  					</div>
  					<div class="col-md-4">
  						<h4>Players</h4>
  						<ul class="list-group">
  							<li ng-repeat="player in players" class="list-group-item">{{player.name}}</li>
  						</ul>
  					</div>
  					<div class="col-md-4">Games</div>
  				</div>	
			</div>

			<footer>
				<p>
					&copy; Copyright  by Michelle Willcox
				</p>
			</footer>
		</div>
	</body>
</html>
