<div class="container-fluid setup-content" ng-controller="SetupCtrl">
	<div class="col-lg-12">
		<form class="form-horizontal">
      <div class="form-group">
        <label class="control-label">Add Player</label>
  			<input ng-model="playerName" type="text" id="playerName"/>
        <button type="submit" class="btn btn-default" ng-click="addPlayer()">Submit</button>
      </div>
		</form>
    <ul class="list-group">
      <li ng-repeat="player in players" class="list-group-item">{{player.name}}</li>
    </ul>
	</div>
</div>